name: QA Automation CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  ci-tests:
    name: Setup, run api and web tests and publish report
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven

      - name: Run API Tests
        run: mvn clean test -Dtest=ApiTestRunner
        env:
          OPEN_WEATHER_KEY: ${{ secrets.OPEN_WEATHER_KEY }}

      - name: Run Web Tests (Headless Chrome)
        if: always()
        run: mvn test -Dtest=WebTestRunner -Dbrowser=chrome -Dheadless=true

      - name: Run Web Tests (Headless Firefox)
        if: always()
        run: mvn test -Dtest=WebTestRunner -Dbrowser=firefox -Dheadless=true

      - name: Upload Cucumber Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-reports
          path: |
            target/cucumber-api-report.html
            target/cucumber-api-report.json
            target/cucumber-web-report.html
            target/cucumber-web-report.json